<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titolo}"></title>

<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>

</head>
<body>
<div class="container">
<h1 th:text="${titolo}"></h1>

<table class="table table-striped">

	<tr th:each="canzone : ${canzoni}">
		<td th:text="${canzone.titolo}"></td>
		<td th:text="${canzone.cantante.nome}"></td>
	</tr>

</table>
</div>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</body>
</html>